:root{
    --primario:#a53737;
    --secundario:#34df00;
    --terciario:#fbff09;
    --negro: rgb(0,0,0);
    --blanco: rgb(255,255,255);
}
/*https://allthetags.com/*/
*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 72.5%;
    font-family: "Playwrite CU", cursive;
}
header h1{
    text-align: center;
    font-size: 3rem;
    color: var(--negro);
    font-weight: bolder;
}
header h1 span{
    font-size: 1.5rem;
}
nav{
    display: flex;
    padding: 1%;
    justify-content: space-around;
}
.enlace{
    color:var(--primario);
    text-decoration: none;
}
.enlace:hover{
    background-color: var(--terciario);
}
.navegacion{
    background-color: var(--secundario);
}
.banner{
    background-image: url(../img/ghibli-studio-totoro-aesthetic-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    color: var(--terciario);
}
.banner section{
    background-color: rgb(0, 0, 0,0.6);
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ubi{
    display: inline-flex;
}
#ubi i{
    color: var(--primario);
}


