:root{
    --primario:#a53737;
    --secundario:#34df00;
    --terciario:#fbff09;
    --negro: rgb(0,0,0);
    --blanco: rgb(255,255,255);
}
/*https://allthetags.com/*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 72.5%;
    font-family: "Playwrite CU", cursive;
}
header{
    background-color: var(--blanco);
}
header h1{
    text-align: center;
    font-size: 3rem;
    color: var(--negro);
    font-weight: bolder;
}
header h1 span{
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-around;
}
.enlace{
    color:var(--primario);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}
.enlace:hover{
    background-color: var(--terciario);
    width: 100%;
    text-align: center;
}
.navegacion{
    background-color: var(--secundario);
}
.banner{
    background-image: url(../img/ghibli-studio-totoro-aesthetic-desktop-wallpaper-4k.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    color: var(--terciario);
}
.banner section{
    background-color: rgb(0, 0, 0,0.6);
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ubi{
    display:inline-flex;
}
#ubi i{
    color: var(--primario);
}
.botones, .botones:enabled{
    background-color: var(--terciario);
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: var(--primario);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
}
main{
    background-image: linear-gradient(to top,bisque 0%,white 100%);
    padding-top: 5px;
}
#cuerpo{
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--blanco);
    border-radius: 10px;
    text-align: center;
    padding: 5px;    
    box-shadow: 0px 0px 89px 16px rgba(0,0,0,0.44);
}
.items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.titulillo{
    color: var(--primario);
}
.item{
    width: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    margin-bottom: 20px;
}
.item p{
    line-height: 2;
}
.figuritas{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--terciario);
}
#formulario{
    width: min(80rem, 100%);
}

#formulario fieldset{
    height: auto;
    background-color: rgb(91, 13, 13);
    border-radius: 5px;
    border-style: none;
    padding: 3%;
    color: var(--terciario);
}
#formulario fieldset p{
    margin-bottom: 5%;
    font-size: 15pt;
    font-weight: bolder;
}
input, textarea{
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    height: 50%;
}
#mensaje{
    height: 100px;
}
#send{
    width: 40%;
    background-color: var(--terciario);
    color: var(--primario);
    padding: 1rem;
    font-weight: bolder;
    font-size: 12pt;
}
#inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
}
.container-input{
    width: 100%;
    text-align: left;
}
.container-input:nth-child(3),
.container-input:nth-child(4){
    grid-column: 1/-1;
}
footer{
    text-align: center;
    background-color: bisque;
}

@media (max-width: 480px) {
    .botones, .botones:first-child, .botones:visited{
        width: 100%;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    #cuerpo{
        margin-left: 5%;
        margin-right: 5%;
    }
    .enlace:hover{
        background-color: var(--terciario);
    }
    input{
        width: 100%;
    }
    .container-input{
        grid-column: 1/-1;
    }
    #send{
        height: auto;
        width: 100%;
    }

}

